In [1]:
import pandas as pd
import pydataset as data

import prepare
import acquire

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_graphviz
from sklearn.metrics import classification_report, accuracy_score, recall_score, precision_score

In [2]:
#Get titanic data
df = acquire.get_titanic_data()

In [3]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [4]:
#Clean the data
new_df = prepare.prep_titanic(df)
new_df.head()

,survived,sex,sibsp,parch,fare,class,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,male,1,0,7.2500,Third,Southampton,0,1,0,1
1,1,female,1,0,71.2833,First,Cherbourg,0,0,0,0
2,1,female,0,0,7.9250,Third,Southampton,1,0,0,1
3,1,female,1,0,53.1000,First,Southampton,0,0,0,1
4,0,male,0,0,8.0500,Third,Southampton,1,1,0,1

In [6]:
train, validate, test = prepare.titanic_split_data(new_df)

In [7]:
train.shape, validate.shape, test.shape

((498, 11), (214, 11), (179, 11))

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 583 to 744
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 498 non-null    int64
 1   sex                      498 non-null    object
 2   sibsp                    498 non-null    int64
 3   parch                    498 non-null    int64
 4   fare                     498 non-null    float64
 5   class                    498 non-null    object
 6   embark_town              498 non-null    object
 7   alone                    498 non-null    int64
 8   sex_male                 498 non-null    uint8
 9   embark_town_Queenstown   498 non-null    uint8
 10  embark_town_Southampton  498 non-null    uint8
dtypes: float64(1), int64(4), object(3), uint8(3)
memory usage: 36.5+ KB

In [ ]:
What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [ ]:
Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [ ]:
Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [ ]:
Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [ ]:
Run through steps 2-4 using a different max_depth value.

In [ ]:
Which model performs better on your in-sample data?

In [ ]:
Which model performs best on your out-of-sample data, the validate set?